*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Times New Roman', Times, serif;

}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100 vh;
    background:url("background")
}

header{
    position:fixed; 
    top:0;
    left:0;
    width:100%;
    padding:30px 50px;
    background:salmon;
    display:flex;
    justify-content:space-between;
    
    z-index:99; 
    
}    
.logo{
    font-size: 40px;
    color:rgb(15, 16, 16);
    user-select:none;
    animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow{
    from{
        text-shadow: 0 0 10px rgb(0, 255, 17),0 0 20px rgb(9, 255, 0), 0 0 30px #1e79c2,0 0 40px #1e79c2, 0 0 50px #1e79c2, 0 0 60px #1e79c2, 0 0 70px #1e79c2;

    }
    to{
        text-shadow: 0 0 20px rgb(0, 255, 42), 0 0 30px #d5ff4d,0 0 40px #deff4d, 0 0 50px #deff4d, 0 0 60px #ff4da6, 0 0 70px #ff4da6,0 0 80px #ff4da6;
    }
}
.navigation a{
    position:relative;
    font-size:25px;
    font-style:oblique;
    color:rgb(20, 19, 19);
    text-decoration:none;
    font-weight:500;
    margin-left:40px;
}
.navigation a::after{
    content:'';
    position:absolute;
    left:0;    
    bottom: -6px;
    width: 100%;
    height: 2px;
    background:rgb(238, 241, 243); 
    border-radius: 10px;
    transform:scaleX(0);
    transition:transform.5s;
}
.navigation a:hover::after{
    transform:scaleX(1);
  }
h1{
    text-align:center;
}