* {
    padding: 0;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
  }
  

/*header{
    position:fixed; 
    top:0;
    left:0;
    width:100%;
    padding:30px 50px;
    background:salmon;
    display:flex;
    justify-content:space-between;
    
    z-index:99; 
    
}   
*/
header{
  background-color: salmon;
}
.hero{
  height:15vh;
  width:100%;
  
}
nav{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding-top:30px;
  padding-left:10%;
  padding-right: 10%;
}
.logo{
  color:black;
  font-size:50px;
}
nav ul li{
  list-style-type:none;
  display:inline-block;
  padding: 10px 20px;

}
nav ul li a{
  color:black;
  text-decoration:none;
  font-weight:bold;
}
nav ul li a:hover{
  color:white;
  transition:.3s;
}   
/*.logo{
    font-size: 40px;
    color:rgb(15, 16, 16);
    user-select:none;
    animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow{
    from{
        text-shadow: 0 0 10px rgb(0, 255, 17),0 0 20px rgb(9, 255, 0), 0 0 30px #1e79c2,0 0 40px #1e79c2, 0 0 50px #1e79c2, 0 0 60px #1e79c2, 0 0 70px #1e79c2;

    }
    to{
        text-shadow: 0 0 20px rgb(0, 255, 42), 0 0 30px #d5ff4d,0 0 40px #deff4d, 0 0 50px #deff4d, 0 0 60px #ff4da6, 0 0 70px #ff4da6,0 0 80px #ff4da6;
    }
}

.navigation a{
    position:relative;
    font-size:25px;
    font-style:oblique;
    color:rgb(20, 19, 19);
    text-decoration:none;
    font-weight:500;
    margin-left:40px;
}
.navigation a::after{
    content:'';
    position:absolute;
    left:0;    
    bottom: -6px;
    width: 100%;
    height: 2px;
    background:rgb(238, 241, 243); 
    border-radius: 10px;
    transform:scaleX(0);
    transition:transform.5s;
}
.navigation a:hover::after{
    transform:scaleX(1);
  }*/

  /* #5b7065, black */
  body {
    background: rgba(48, 64, 64, 1.0);
    background: -webkit-radial-gradient(center, rgba(48, 64, 64, 1.0) 0%, rgba(0, 0, 0, 1.0) 100%);
    background: -moz-radial-gradient(center, rgba(48, 64, 64, 1.0) 0%, rgba(0, 0, 0, 1.0) 100%);
    background: radial-gradient(ellipse at center, rgba(48, 64, 64, 1.0) 0%, rgba(0, 0, 0, 1.0) 100%);
    font-family: 'Shadows Into Light', cursive;
    min-height: 100vh;
  }
  
  button {
    height: fit-content;
    cursor: pointer;
    color: #04202c;
    background-color: #c9d1c8;
  }
  
  .app {
    width: 600px;
    margin: auto;
    padding-top: 50px;
    color: white;
  }
  
  .input-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px 0px 10px 0px;
  }
  
  .to-do-input input {
    width: 250px;
    font-family: inherit;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    outline: none;
  }
  
  .to-do-input button {
    color: #5b7065;
    font-family: inherit;
    border: none;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .to-do-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .to-do-list i {
    color: #c9d1c8;
    cursor: pointer;
  }
  
  .to-do-list .fa-pen-to-square {
    color: #5b7065;
  }
  
  .to-do-list button {
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    font-family: inherit;
    border: none;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  }
  
  .input-controller {
    display: flex;
    gap: 10px;
  }
  
  .input-controller textarea {
    width: 100%;
    outline: none;
    border: none;
    resize: none;
    line-height: 1.4;
    color: white;
    border-radius: 10px;
    background-color: transparent;
    font-size: 1.2rem;
    font-family: inherit;
    transition: all 0.30s ease-in-out;
  }
  
  textarea:focus {
    box-shadow: 0 0 5px white;
  }
  
  .edit-controller {
    display: flex;
    gap: 5px;
  }
  
  .update-controller {
    display: none;
  }
  
  @media(max-width: 768px) {
    .app {
      width: 95%;
      text-align: center;
    }
  
    .input-header {
      flex-direction: column;
      padding-bottom: 20px;
    }
  
    .to-do-input {
      display: flex;
    }
  
    .to-do-input input {
      width: 300px;
    }
  
  }
